.bvnhead{
    text-align: center;
    margin-bottom:2em;
    font-size:2em;
}

.qrcodeimg{
    display: block;
    margin-left:auto;
    margin-right: auto;
}

.warningspan{
    display: block;
    margin-top:2.5em;
    line-height: 1.5em;
    font-size: 1.25em;
}

.checkedfc{
    font-size:10em;
}
.contentqrcode{
    text-align: center;
    margin-top:15%;
    font-size: 2.5em;
}

.baduser{
    display: block;
    font-size:2em;
    margin-top:10%;
}

.baduserL{
    text-decoration:none;
    margin-top:.5em;
    display:block;
    font-size:2.5em;
    color:#fefadd;
}