
.content > .publish h3 {
  font-weight: 300;
  font-size: 1.6rem;
}

.content > .publish .callToAction {
  display: block;
  text-align: right;
  font-size: 3rem;
  font-family: 'Dancing Script', cursive;
}

.content > .publish form {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
  margin-top: 50px;
}

.content > .publish input, label {
  line-height: 25px;
  margin: 5px 0px;
  padding: 5px 15px;
}

.content > .publish label.file {
  display: flex;
  justify-content: center;
  align-items: center;
}

label.file .bx {
  color: white;
  font-size: 2rem;
  margin-right: 10px;
}

.content > .publish input[type=submit], .file {
  background-color: #6495ED;
  color:white;
  border: none;
}
.content > .publish input[type=submit] {
  margin-top: 25px;
}

#file {
  display: none;
}
