@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');
@font-face {
  font-family: 'FuturisticRegular';
  src: 
    url("\css\FuturisticRegular-w1Zjz.ttf") format('truetype'),
}

* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  color:#fefadd;
  font-family: 'Poppins', sans-serif;
  background: #0D0F2C;
}

body {
  padding: 0 5% ;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.register, .login{
  font-size:1.5em;
  margin-top:2.5em;
}

/* section titre */

.title {
  text-align: center;
}

.title img {
  max-height: 150px;
}
/* section contenu */
.content {
  flex-grow: 1;
}

.content form {
  display: flex;
  flex-direction: column;
  font-size: 1.4rem;
}

.content input {
  margin-top:1em;
  line-height: 25px;
  padding: 5px 15px;
  cursor: pointer;
}

.content select{
  background-color: transparent;
  color:#fefadd;
  border: solid .2rem #fefadd;
  padding: 5px 15px;
  border-radius: 5px;
  margin-top:1.5em;
  margin-bottom:.5em;
}

.content input[type=submit] {
  background-color: transparent;
  color:#fefadd;
  border: solid .2rem #fefadd;
  border-radius: 25px;
  margin-top: 25px;
}

.rememberme {
  display: block;
  position: relative;
  padding-left: 35px;
  font-size: 1.25em;
  margin-top:.75em;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding-top:.5rem;
}

.rememberme input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 100%;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: transparent;
  border: solid 3px #fefadd;
  border-radius:5px;

}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.rememberme input:checked ~ .checkmark:after {
  display: block;
}

.rememberme .checkmark:after {
  left: 6px;
  top: 1px;
  width: 5px;
  height: 10px;
  border: solid #fefadd;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.noms2 input{
  width: 48%;
}

.noms2 {
  display: flex;
  justify-content: space-between;
}

.content div:last-of-type a {
  text-decoration: none;
  color: #fefadd;
  font-weight: 500;
  font-size: larger;
  
}

.champsform{
  background-color: transparent;
  color:#fefadd;
  border: solid .2rem #fefadd;
  border-radius: 5px;
  font-weight: bold;
}
/* Le footer */

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.footer h1{
  display: inline-block;
  font-size: 3rem;
}
