@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&display=swap');

:root {
  --main-txt-color: #fefadd;
  --main-send-color: #6495ED;
}

::selection{
  background-color:var(--main-txt-color);
  color:#0D0F2C;
}

::-moz-selection{
  background-color:var(--main-txt-color);
  color:#0D0F2C;
}

img::selection{
  color:transparent;
  background-color: transparent;
}

* {
  padding: 0;
  margin: 0;
  line-height: 1;
  box-sizing: border-box;
  color: var(--main-txt-color);
  background-color: #0D0F2C;
}

html {
  font-size: 62.5%;
  font-family: 'Comfortaa', cursive;
}

body {
  padding: 0 5% ;
  color:white;
}

.logoLNM{
  width:5rem;
}

.btnAcc{
  text-decoration: none;
  padding:1rem 3rem 1rem 3rem;
  border: solid 1px ;
  border-radius:15px;
  text-transform: uppercase;
  font-size:1.5rem;
  word-wrap:break-word; 

}

#resaP{
  color:#fcfed9;
border-color:#fcfed9;
}

.WrapperAcc{
  display: block;
}

nav.top {
  position: fixed;
  top:0;
  left:0;
  z-index: 1000;
  width: 100%;
  display: flex;
  align-items: center;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.1);
  background-color: #0D0F2C;
}

.top h1{
  flex-grow: 1;
  font-size: 3rem;
  font-family: 'Futuristic';
}

.top .bxs-paper-plane {
  color: var(--main-send-color);
}


.top a, .bottom a {
  display: inline-block;
  text-decoration: none;
  font-size: 3.5rem;
  position: relative;
}

.top a:last-of-type {
  margin-left: 20px;
}


nav.bottom {
  position: fixed;
  bottom:0;
  left:0;
  width: 100%;
  min-height: 60px;
  padding: 0 5% ;
  display: flex;
  justify-content: space-around;
  align-items: center;
  box-shadow: 0 -0.5rem 1rem rgba(0,0,0,.1);
  background-color: white;
}

.active::after {
  position: absolute;
  content:' ';
  top:100%;
  width: 60%;
  transform: translateX(-50%);
  left:50%;
  height: 2px;
  background-color: var(--main-send-color);
}


.content {
  margin-top: 90px;
  margin-bottom: 90px;
}

.content p{
  color:white;

}

.top .search {
  display:flex;
  align-items: center;
  width: 100%;
  padding: 15px 0px;
}

.top .search input {
  flex-grow: 1;
  font-size: 1.4rem;
  line-height: 25px;
  margin: 5px 0px;
  padding: 5px 15px;
}

.top .search button {
  border: none;
  background: none;
  line-height: 1;
  margin-left: 10px;
  font-size: 3rem;
}
.top .search button .bx {
  color: var(--main-send-color);
}

